@import '../../styles/settings.scss';

.listForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

span {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 700px) {
  .listForm {
    flex-direction: column;
  }
}